.header{
  display: flex;
  justify-content: center;
  align-content: center;

}

.heroSection{
  display: flex;
}

.logoImage{
  padding: 1px;
  height: 25vh;
  width: auto;
  align-self: center;
}

.trophyImage{
  width: 30vw;
}


.description{
  width: 69vw;
}

.middleSection{
  font-family: 'Roboto' sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footerLine{
  border-color: red;
  border-width: medium;
  opacity: 1;
}

.contactSection{
  background-color: red;
  opacity: 1;
  color:white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;

  /* margin: 10px; */
}

@media (max-width: 768px) {
  body{
    width: 99vw;
    padding-left: 10px !important;
    /* align-items: center;
    align-content: center; */
  }

  .footer {
    padding: 0px 10px 10px 10px;
  }
  .contactSection{
    width: 100%;
    align-self: center;
  }

  .logoImage {
    width: 100%;
    height: auto;
  }
}