body {
  margin: 0;
  padding: 5px !important;
  padding-left: 20px !important;
  padding-bottom: 10px !important;
  font-family: 'Roboto' sans-serif;
    font-stretch: condensed !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(255,249,181);
  background: linear-gradient(0deg, rgba(255,249,181,1) 32%, rgba(254,255,250,1) 99%) !important;
  padding: 10px 5px 1px 5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 99vw;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}